.cardActions_Container{
    margin-top: 20;
    display: flex;
    justify-content: space-evenly;
   
}

#background{
    height:4em;
    width: 8em;
    background-image: url("../images/80s_boombox.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    
}

.card_1{
   
    height:6em;
    width: 8em;
   padding: 10px;
   margin: 2px;
   /* padding: 10px; */
   background-image: url("../images/70s_image_1.jpg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_2{
   
    height:8em;
    width: 8em;
   padding: 10px;
   margin: 2px;
   /* padding: 10px; */
   background-image: url("../images/70_record_player.jpeg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}


.card_3{ 
    height:10em;
   width: 12em;
   padding: 2px;
   margin: 2px;
   margin-left: 30px;
   /* padding: 10px; */
   background-image: url("../images/70s_disco_5.jpg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}
.card_4{ 
    height:8em;
    width: 8em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/70s_yin_yang.jpg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_5{ 
    height:8em;
    width: 8em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/80s_boombox.jpg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_6{ 
    height:8em;
    width: 14em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/90s_shoes.jpg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_7{ 
    height:8em;
    width: 8em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/80s_cassette.jpeg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}
.card_8{ 
    height:8em;
    width: 8em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/80s_collage.jpeg");
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_9{ 
    height:14em;
    width: 18em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/80s_skates.jpeg") ;
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_10{ 
    height:14em;
    width: 18em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/90s_collage.jpeg") ;
   background-size: cover;
   background-repeat:no-repeat ;
  
}

.card_11{ 
    height:18em;
    width: 16em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/90s_skateboarder.jpeg") ;
   background-size: cover;
   background-repeat:no-repeat ;
}

.card_12{ 
    height:16em;
    width: 18em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/90s_Fashion.jpeg") ;
   background-size: cover;
   background-repeat:no-repeat ;
}

.card_13{ 
    height:10em;
    width: 12em;
   padding: 10px;
   margin: 2px;
 
   /* padding: 10px; */
   background-image: url("../images/90s_stickers.jpeg") ;
   background-size: cover;
   background-repeat:no-repeat ;
}

 .card_16{
    height:10em;
    width: 18em;
    padding: 10px;
   /* margin: 2px;  */
   background-image: url("../images/newBoard_image_2.jpeg");
   background-size: cover;
   background-repeat:no-repeat ;
   
} 


.card_17{
    height:7em;
width: 8em;
padding: 10px;
margin: 5px;
background-color: bisque;

} 
.cards{
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 16em;
}

.cards_icons{ 
    display: flex;
    flex-direction: row;
    padding: 3px;
    height: 2em;
    justify-content: space-around;
    align-items: baseline;
}
.wrapper{
    margin:35px 5px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 60vw;
    outline: 2px solid indigo;
    /* position: ce; */
  }

.delete {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    opacity: 1;
}




.message {
    font-size: 1.3rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #4E878C;
    font-weight: bold;
    width: 12em;
    height: 13em;
    margin: auto;
    text-align: center;
    border: 5px solid black;
    line-height: 13em;
}

.message p {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;
}




